.container {
  height: fit-content;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 66px;
}
.containerInner {
  height:fit-content;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.heading {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heading p {
  color: #000;
  font-family: Inria Serif;
  font-size: var(--font56);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heading button {
  /* width: 200px; */
  /* height: 80px; */
  font-size: var(--font24);
}
.contentBox {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 20px;
  justify-content: space-evenly;
  gap: 30px;
}
.card {
  /* width: 33.3%; */
  /* max-width: 530px; */
  height: 426px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid rgba(251, 210, 163, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex: 1 1;

}
.cardUpper {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.first p {
  color: #000;
  font-style: normal;
  line-height: normal;
  font-size: var(--font18);
}
.first p:last-child {
  font-size: var(--font30);
  font-weight: 700;
}
.second {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
}
.second div {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  /* gap:10px; */
  align-items: center;
  border-radius: 20px;
  font-size: var(--font18);
  background: rgba(251, 210, 163, 0.5);
}
.third p {
  color: rgba(0, 0, 0, 0.8);
  font-family: Inter;
  font-size: var(--font20);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardBottom {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.cardBottom button {
  font-size: var(--font24);
  padding: 15px 20px;
  width: 50%;
}
.cardBottom button:nth-child(2) {
  background-color: #fff;
  color: var(--main-color);
}
@media (max-width: 850px){
  .heading{
      flex-direction: column;
      gap:10px;
  }
  .heading button{
      width:100%;
      padding: 14px 20px;
  }
} 
