.container{
    width:100vw;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FBD2A3 0%, #FFF 100%);
    padding-top:40px;
}
.innerContainer{
    width: 100%;
    height:100%;
    display: flex;
    gap:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    /* flex-direction: column; */
}

.leftImageBox{
width:50%;
height:100%;
}
.talentImages{
    /* left:5%; */
    width:100%;
    height:100%;
}

.rightContentBox{
    width:50%;
    /* border:1px solid blue;    */
    display: flex;
    align-items: center;
    height:100%;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:29px;
}
.rightContainerInner{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: flex-start;
}
.rightContainerInner p{
    font-size: var(--font20);
}
.content p{
    color: #000;
    font-family: Inria Serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: var(--font42);
}

.rightContainer button{
    align-self: center;
    width: 200px;
    height: 80px;
    font-size: var(--font24);

}

@media (max-width:700px){
.leftImageBox{
    display: none;
}
.rightContentBox{
    justify-content: center;
    width:100%;
}
.rightContainer{
    align-items: center;
}
.rightContainerInner{
    align-items: center;
    justify-content: center;
    text-align: center;

}
.content{
    text-align: center;
}
}